<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>loading</title>
    <link rel="stylesheet" href="./../static/css/loading.css" />
    <script
      src="https://kit.fontawesome.com/65a524014b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <header><!--hobby--></header>
  <div class="text">
    <!-- 바로 지금 <br />
    그라운드로 나가라 아이엠그라운드 -->
  </div>
  <div class="main">
    <div class="main_text1">
      <!-- <i class="fa-solid fa-futbol" id="fa-child1"> </i> -->
      <br />
      <!-- sport -->
    </div>
    <div class="main_text2">
      <!-- <i class="fa-solid fa-child" id="fa-child2"></i> -->
      <br />
      <!-- view -->
    </div>
    <!-- <div class="main_text3">text3</div> -->
  </div>
  <body>
    <div class="container">
      <div class="circle">
        <i class="fa-solid fa-futbol"> </i>
      </div>
      <div class="square"><i class="fa-solid fa-basketball"></i></div>
      <div class="triangle"><i class="fa-solid fa-baseball"></i></div>
      <div class="test">취미 공유 플랫폼</div>
      <div class="logo">H<i class="fa-brands fa-spotify"></i>BBY</div>
      <div class="shadow"></div>
      <a href="http://49.50.166.13:8080/main">
        <button><!--<div class="text-bottom"></div>-->ENTER</button></a
      >
    </div>
    <!-- 새로운 텍스트 -->
    <!-- <div class="waviy">
      <span style="--i: 1">Z</span>
      <span style="--i: 2">I</span>
      <span style="--i: 3">Y</span>
      <span style="--i: 4">O</span>
      <span style="--i: 5">V</span>
      <span style="--i: 6">U</span>
      <span style="--i: 7">D</span>
      <span style="--i: 8">D</span>
      <span style="--i: 9">I</span>
      <span style="--i: 10">N</span>
    </div> -->

    <!-- 메인 텍스트 -->
    <!-- <div class="animated-title"> -->
    <!-- <div class="text-top">
        <div>
          <span>play</span>
          <span>of</span>
        </div>
      </div> -->

    <!-- 배경 -->
    <div class="loop-wrapper">
      <div class="mountain"></div>
      <div class="hill"></div>
      <div class="tree"><i class="fa-solid fa-tree"></i></div>
      <div class="tree"><i class="fa-solid fa-tree"></i></div>
      <div class="tree"><i class="fa-solid fa-tree"></i></div>
      <div class="rock"></div>
      <div class="truck"><i class="fa-solid fa-person-biking"></i></div>
      <div class="wheels"></div>
      <!-- 배경 볼 -->
      <!-- <div class="volleyball"><i class="fa-solid fa-volleyball"></i></div>
      <div class="football"><i class="fa-solid fa-football"></i></div>
      <div class="bowlingball"></div>
      <div class="futbol"></div> -->
    </div>
    <!-- <div class="backgroundball">
    </div> -->
  </body>
</html>
