<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>loading</title>
    <link rel="stylesheet" href="./../static/css/loading.css" />
    <script
      src="https://kit.fontawesome.com/65a524014b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <header><!--hobby--></header>
  <div class="text">
    <!-- 바로 지금 <br />
    그라운드로 나가라 아이엠그라운드 -->
  </div>
  <div class="main">
    <div class="main_text1">
      <!-- <i class="fa-solid fa-futbol" id="fa-child1"> </i> -->
      <br />
      sport
    </div>
    <div class="main_text2">
      <!-- <i class="fa-solid fa-child" id="fa-child2"></i> -->
      <br />
      view
    </div>
    <!-- <div class="main_text3">text3</div> -->
  </div>
  <body>
    <div class="container">
      <div class="circle">
        <i class="fa-solid fa-futbol"> </i>
      </div>
      <div class="square"><i class="fa-solid fa-basketball"></i></div>
      <div class="triangle"><i class="fa-solid fa-baseball"></i></div>
      <div class="test">취미 공유 플랫폼</div>
      <div class="logo">hobby</div>
      <div class="shadow"></div>
    </div>
  </body>
</html>
