<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/common.css" />
    <script src="https://kit.fontawesome.com/65a524014b.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- 헤더 -->
    <header>
      <div class="header_inner">
        <h1 class="logo">
          <a href="/main">H<i class="fa-brands fa-spotify"></i>BBY</a>
        </h1>
        <nav>
          <div class="input_search">
            <input type="text" class="input_style" />
            <button type="button" class="input_btnsearch">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
          <a href="/login" class="login"><i class="fa-solid fa-user-large"></i></a>
        </nav>
      </div>
    </header>
    <!-- 메인 -->
    <main>
      <div class="main_container">
        <div class="imgs slide_login_img"></div>
        <div class="loginform_box">
          <div class="login_form">
            <form action="/login" method="post">
              <!-- 타이틀 -->
              <div class="form_title">
                <h2>혼자하기 싫을땐?</h2>
                <h2 id="hobby">HOBBY하자</h2>
              </div>
              <!-- 인풋 -->
              <div class="input_container">
                <span style="color: red">올바르지 않은 아이디/비밀번호입니다.</span>
                <div class="form_input">
                  <input type="email" name="id" placeholder="이메일" id="form_input_id" />
                </div>
                <div class="form_input">
                  <input type="password" name="pw" placeholder="비밀번호" id="form_input_pw" />
                </div>
              </div>
              <!-- 버튼 -->
              <button type="submit" class="form_button">로그인</button>
            </form>
            <!-- 자잘한거 -->
            <div class="etc">
              <span class="find_id">
                <a href="#">아이디/비밀번호 찾기</a>
              </span>
              <span class="signup">
                <a href="/signup">회원가입</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
