<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인</title>
    <link rel="stylesheet" href="./../static/css/common.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script
      src="https://kit.fontawesome.com/65a524014b.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="../static/js/main.js" defer></script>

    <style>
      header {
        width: 100%;
        height: 80px;
        /* border-bottom: 1px solid #000; */
      }
      header .header_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1280px;
        height: 100%;
        margin: 0 auto;
      }
      header .header_inner .logo {
        font-weight: 700;
        font-size: 32px;
      }
      header .header_inner .login i {
        font-size: 20px;
        margin-left: 10px;
      }
      .input_search {
        position: relative;
        display: inline-block;
      }
      .input_search .input_btnsearch {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 15px;
      }
      .input_search input {
        padding-right: 40px;
        transition: 1s all;
      }
      .input_search input:focus {
        width: 300px;
      }
      button {
        background: none;
        border: 0;
        cursor: pointer;
      }
      .input_style {
        width: 200px;
        height: 40px;
        padding: 0 20px;
        border: 1px solid #ccc;
        border-radius: 20px;
      }

      .content {
        padding-bottom: 100px;
      }

      .inner {
        width: 1280px;
        margin: 0 auto;
      }
      footer {
        background-color: #2a2a2a;
      }
      .footer_inner {
        width: 1280px;
        margin: 0 auto;
        padding: 20px 0;
      }
      .footer_inner p {
        color: #fff;
      }
      .mySwiper {
        margin-top: 20px;
        border-radius: 20px;
        overflow: hidden;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        overflow: hidden;
      }
      .swiper-pagination {
        width: 100px;
        height: 40px;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        display: flex;
        left: 50%;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        letter-spacing: 2px;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .category_list {
        display: flex;
        margin-top: 60px;
        gap: 20px;
        justify-content: center;
      }
      .category_list li {
        position: relative;
        /* height: 40px; */
      }
      .category_list li.current {
        font-size: 18px;
        font-weight: 700;
        align-items: flex-end;
        /* text-decoration: underline; */
      }
      .category_list li.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -8px;
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: #333;
      }
      .datalist_wrap {
        display: flex;
        width: 100%;
        gap: 60px;
        margin-top: 60px;
      }
      .datalist_lbox {
        width: 300px;
        min-width: 350px;
      }
      .datalist_rbox {
        width: 100%;
      }
      .datalist {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 30px;
      }
      .datalist li {
        width: calc(33.3333% - 22px);
        /* border: 1px solid #ccc; */
      }
      .datalist li:nth-child(3n) {
        width: calc(33.4% - 22px);
      }
      .list_box {
        position: relative;
      }
      .list_box .img_box {
        height: 267px;
        border-radius: 10px;
        overflow: hidden;
      }
      .list_box .img_box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .list_box .info {
        padding: 20px 0;
      }
      .list_box .info p {
        margin-top: 10px;
      }
      .list_box .info p:first-child {
        margin-top: 0;
      }
      .list_box .info p i {
        width: 16px;
        text-align: center;
        margin-right: 5px;
        color: #7a7a7a;
      }
      .info .title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.3;
        word-break: keep-all;
        /* min-height: 52px; */
      }
      .info strong {
        font-weight: 500;
      }
      .small_badge {
        display: inline-block;
        min-width: 28px;
        height: 20px;
        background: #333;
        color: #fff;
        padding: 0 10px;
        line-height: 20px;
        font-weight: 500;
        border-radius: 10px;
        box-sizing: border-box;
      }
      .badge {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        height: 30px;
        padding: 0 10px;
        line-height: 30px;
        font-weight: 500;
        color: #fff;
        background-color: #3e85ef;
      }
      .badge.type01 {
        background-color: #ff4949;
      }
      .badge.type02 {
        background-color: #ccc;
      }
      /* 달력 */
      .calendar_box td {
        width: 45px;
        height: 45px;
        vertical-align: middle;
      }
      .calendar_box {
        position: sticky;
        top: 30px;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 20px;
      }
      .calendar {
        text-align: center;
        margin: 0 auto;
      }

      .calendar > thead > tr:first-child > td {
        font-weight: bold;
        font-style: 20px;
      }

      .calendar > thead > tr:last-child > td {
        background-color: #fff;
        color: #333;
        font-weight: 500;
      }

      .pastDay {
        background-color: white;
        opacity: 0.3;
      }

      .today {
        background-color: #ffca64;
        cursor: pointer;
        border-radius: 50%;
      }

      .futureDay {
        cursor: pointer;
        background-color: #ffffff;
      }

      .futureDay.choiceDay,
      .today.choiceDay {
        background-color: #3e85ef;
        color: #fff;
        cursor: pointer;
      }

      /* 탭메뉴 */
      .tab-content {
        /* display: none; */
      }
      .tab-content.current {
        display: block;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="header_inner">
        <h1 class="logo">
          <a href="#">Hobby</a>
        </h1>
        <nav>

          <div class="input_search">
            <input type="text" class="input_style" />
            <button type="button" class="input_btnsearch">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
          <a href="#" class="login"><i class="fa-solid fa-user-large"></i></a>

          <!-- <input type="text" class="input_style" />
          <a href="./login" class="login">로그인</a> -->

        </nav>
      </div>
    </header>
    <div class="content">
      <div class="inner">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../static/img/banner-manner_pc.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../static/img/banner-starter_pc.png" alt="" />
            </div>
          </div>
          <!-- <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div> -->
          <div class="swiper-pagination"></div>
        </div>

        <script>
          let swiper = new Swiper(".mySwiper", {
            pagination: {
              el: ".swiper-pagination",
              type: "fraction",
            },
            // navigation: {
            //   nextEl: ".swiper-button-next",
            //   prevEl: ".swiper-button-prev",
            // },
            autoplay: true,
          });
        </script>

        <ul class="category_list">
          <li value = '0' class="current" data-tab="tab-1"><a href="#">전체보기</a></li>
          <li value ='1' data-tab="tab-2"><a href="#">축구</a></li>
          <li value = '2' data-tab="tab-3"><a href="#">야구</a></li>
          <li value = '3' data-tab="tab-4"><a href="#">농구</a></li>
          <li value = '4' data-tab="tab-5"><a href="#">배구</a></li>
        </ul>


        <div id="tab-1" class="tab-content current">
          <div class="datalist_wrap">
            <div class="datalist_lbox">
              <div class="calendar_box">
                <table class="calendar">
                  <thead>
                    <tr>
                      <td onClick="prevCalendar();" style="cursor: pointer">
                        &#60;
                      </td>
                      <td colspan="5">
                        <span id="calYear"></span>년
                        <span id="calMonth"></span>월
                      </td>
                      <td onClick="nextCalendar();" style="cursor: pointer">
                        &#62;
                      </td>
                    </tr>
                    <tr>
                      <td>일</td>
                      <td>월</td>
                      <td>화</td>
                      <td>수</td>
                      <td>목</td>
                      <td>금</td>
                      <td>토</td>
                    </tr>
                  </thead>

                  <tbody></tbody>
                </table>
              </div>
            </div>
            <div class="datalist_rbox">
              <ul class="datalist">
                <% for(let i=0; i<data.length; i++) { %>
                  <li>
                    <a href="#">  
                      <div class="list_box">
                        <div class="img_box">
                          <img src="../static/img/ps_11_goalline.jpg" alt="" />
                        </div>
                        <div class="info">
                          <p class="small_badge">축구</p>
                          <p class="title">
                            <%= data[i].title %>
                          </p>
                          <p class="date">
                            <i class="fa-regular fa-calendar"></i
                            ><strong>날짜</strong> : <%= data[i].date %>
                          </p>
                          <p class="person">
                            <i class="fa-solid fa-person"></i
                            ><strong>정원</strong> : <%= data[i].personnel%>
                          </p>
                        </div>
                        <div class="badge">신청가능</div>
                      </div>
                    </a>
                  </li>
                <% } %>
              </ul>
            </div>
        </div>
        <div id="tab-2" class="tab-content"></div>
        <div id="tab-3" class="tab-content"></div>
        <div id="tab-4" class="tab-content"></div>
        <div id="tab-5" class="tab-content"></div>
      </div>
    </div>
    <footer>
      <div class="footer_inner">
        <p>내용</p>
        <p>내용</p>
        <p>내용</p>
        <p>내용</p>
        <p>내용</p>
        <p>내용</p>
        <p>내용</p>
        <p>내용</p>
        <p>내용</p>
        <p>내용</p>
        <p>내용</p>
      </div>
    </footer>
    <script src="../static/js/main.js"></script>
  </body>
</html>
