<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인</title>
    <link rel="stylesheet" href="./../static/css/common.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/65a524014b.js"
      crossorigin="anonymous"
    ></script>

    <style>
      header {
        width: 100%;
        height: 80px;
        /* border-bottom: 1px solid #000; */
        position: absolute;
        z-index: 1;
        top: 0;
        background-color: #fff;
      }
      header .header_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1280px;
        height: 100%;
        margin: 0 auto;
      }
      header .header_inner .logo {
        font-weight: 800;
        font-size: 32px;
        letter-spacing: -3px;
      }
      .input_style {
        width: 200px;
        height: 40px;
        padding: 0 20px;
        border: 1px solid #ccc;
        border-radius: 20px;
      }

      .content {
        padding-bottom: 100px;
      }

      .inner {
        width: 1280px;
        margin: 0 auto;
      }
      section {
        position: relative;
        width: 100%;
        height: 100vh;
        background: #fff;
      }
      .s1 {
        display: flex;
        align-items: center;
      }
      .s2 {
        background-color: aqua;
      }
      i {
        position: absolute;
        font-size: 100px;
        /* transition: 2s all; */
        color: #e6e3e3;
      }
      i.fa-baseball {
        right: 0;
        animation: ball 3000ms infinite linear;
      }

      /* @keyframes ball {
        from {
          transform: translateX(100vw);
        }
        from {
          transform: translateX(80vw);
        }
      } */
    </style>
  </head>
  <body>
    <header>
      <div class="header_inner">
        <h1 class="logo">
          <a href="#">Hobby</a>
        </h1>
        <nav>
          <input type="text" class="input_style" />
          <a href="#" class="login">로그인</a>
        </nav>
      </div>
    </header>
    <section class="s1">
      <div class="inner">
        <p class="text">존중하고 격려하고 함께 즐겨요<span></span></p>
      </div>
      <i class="fa-solid fa-basketball"></i>
      <i class="fa-solid fa-baseball"></i>
      <div class="box">
        <div class="wave -one"></div>
        <div class="wave -two"></div>
        <div class="wave -three"></div>
      </div>
    </section>
    <script>
      let text = document.querySelector(".text span");
      let text1 = "취미공유플랫폼 Hobby.";
      let text2 = text1.split("");
      let i = 0;
      function typing() {
        if (i < text2.length) {
          let txt = text2[i];
          text.innerHTML += txt;
        }
        i++;
      }
      setInterval(typing, 100);
    </script>
    <style>
      .text {
        font-size: 70px;
        font-weight: 700;
        text-align: center;
        transform: rotate(-15deg);
      }
      .text span {
        display: block;
        font-size: 100px;
        font-weight: 900;
        color: #3498db;
      }
      /* .box {
        
        border-radius: 5px;
        box-shadow: 0 2px 30px rgba(black, 0.2);
        background: lighten(#f0f4c3, 10%);
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
        position: absolute;
      }

      .wave {
        opacity: 0.4;
        position: absolute;
        bottom: -30%;
        left: 50%;
        background: #0af;
        width: 500px;
        height: 500px;
        margin-left: -250px;
        margin-top: -250px;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 3000ms infinite linear;
      }

      .wave.-three {
        animation: drift 5000ms infinite linear;
      }

      .wave.-two {
        animation: drift 7000ms infinite linear;
        opacity: 0.1;
        background: yellow;
      } */

      /* .box:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(#e8a, 1),
          rgba(#def, 0) 80%,
          rgba(white, 0.5)
        );
        z-index: 11;
        transform: translate3d(0, 0, 0);
      } */
      /* @keyframes drift {
        from {
          transform: rotate(0deg);
        }
        from {
          transform: rotate(360deg);
        }
      } */
    </style>
    <section class="s2"><div class="inner">ddd2</div></section>
  </body>
</html>
