<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <link rel="stylesheet" href="../static/css/common.css" />
    <script src="../static/js/signup.js" defer></script>
    <script src="https://kit.fontawesome.com/65a524014b.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- 헤더 -->
    <header>
      <div class="header_inner">
        <h1 class="logo">
          <a href="/main">H<i class="fa-brands fa-spotify"></i>BBY</a>
        </h1>
        <nav>
          <div class="input_search">
            <!-- <input type="text" class="input_style" /> -->
            <!-- <button type="button" class="input_btnsearch"> -->
            <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
            <!-- </button> -->
          </div>
          <a href="/logout" class="login"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </nav>
      </div>
    </header>
    <!-- 메인 -->
    <main>
      <div class="main_container">
        <div class="imgs slide_signup_img"></div>
        <div class="loginform_box">
          <div class="signup_form">
            <form action="/makeRoom" method="POST">
              <!-- 타이틀 -->
              <div class="form_title">
                <h2>혼자하기 싫을땐?</h2>
                <h2 id="hobby">HOBBY하자</h2>
              </div>
              <!-- 인풋 -->
              <div class="input_container">
                <div class="form_input">
                  <span>제목</span>
                  <input type="text" name="title" placeholder="방제목" />
                </div>

                <div class="form_input">
                  <span>날짜</span>
                  <input type="date" name="date" min="2023-03-25" />
                </div>

                <div class="form_input">
                  <span>카테고리</span>
                  <select class="form_input" value="남자" name="category">
                    <option>축구</option>
                    <option>야구</option>
                    <option>농구</option>
                    <option>배구</option>
                  </select>
                </div>

                <div class="form_input">
                  <span>장소</span>
                  <input type="text" name="location" placeholder="장소" />
                </div>

                <div class="form_input">
                  <span>인원</span>
                  <input
                    type="text"
                    name="personnel"
                    placeholder="인원"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  />
                </div>

                <div class="form_input">
                  <span>비용</span>
                  <input
                    type="text"
                    name="price"
                    placeholder="비용"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  />
                </div>
              </div>
              <!-- 버튼 -->
              <button type="submit" class="form_button">회원가입</button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
