.main_container {
  display: flex;
  /* justify-content: space-between; */
}

.slide_signup_img {
  background: url("../img/1.jpeg");
  background-size: cover;
}

.input_container {
  margin-top: 50px;
}

.signup_form {
  width: 500px;
  margin-top: 40px;
  margin-right: 200px;
}

.signup_form h2 {
  font-weight: 300;
  font-size: 32px;
}

.signup_form .form_title {
  margin-top: 20px;
}

#hobby {
  color: navy;
  font-weight: 700;
  text-decoration: none solid rgb(221, 225, 236);
}

.input_container {
  margin-top: 12px;
}

.form_input span {
  display: block;
  margin-top: 10px;
}
